<div>
    <table>
        <tr><th colspan="4">group/material: {{controlsService.groupName()}} </th></tr>
        <tr>
            <td colspan="4">
                <label>Choose a material: </label>
                <select (change)="selectMaterial($event)">
                    <option></option>
                    @for(materialOption of MaterialClass.getList(); track materialOption) {
                        <option value="{{materialOption}}">{{materialOption}}</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    color
                </div>
            </td>
            <td>
                <input 
                    #rColor 
                    type="number" 
                    (input)="setColor(rColor.value, 'r')"
                    [value]="controlsService.rColor()"
                > 
            </td>
            <td>
                <input 
                    #gColor 
                    type="number" 
                    (input)="setColor(gColor.value, 'g')"
                    [value]="controlsService.gColor()"
                >
            </td>
            <td>
                <input 
                    #bColor 
                    type="number" 
                    (input)="setColor(bColor.value, 'b')"
                    [value]="controlsService.bColor()"
                >
            </td>
        </tr>

        <tr>
            <td>
                <div>
                    wireframe
                </div>
            </td>
            <td colspan="3">
                <mat-checkbox 
                    [checked]="controlsService.selectWireframe()" 
                    (change)="updateWireframe($event)"
                ></mat-checkbox>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    ecolor
                </div>
            </td>
            <td>
                <input 
                    #erColor 
                    type="number" 
                    (input)="setEColor(erColor.value, 'r')"
                    [value]="controlsService.erColor()"
                >
            </td>
            <td>
                <input 
                    #egColor 
                    type="number" 
                    (input)="setEColor(egColor.value, 'g')"
                    [value]="controlsService.egColor()"
                >
            </td>
            <td>
                <input 
                    #ebColor 
                    type="number" 
                    (input)="setEColor(ebColor.value, 'b')"
                    [value]="controlsService.ebColor()"
                >
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    eintensity
                </div>
            </td>
            <td colspan="3">
                <input 
                    #eIntensity 
                    class="colspan3"
                    type="number" 
                    (input)="setEIntensity(eIntensity.value)"
                    [value]="controlsService.eIntensity()"
                    step=".1"
                >
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    roughness
                </div>
            </td>
            <td colspan="3">
                <input 
                    #roughness 
                    class="colspan3"
                    type="number" 
                    (input)="setRoughness(roughness.value)"
                    [value]="controlsService.roughness()"
                    step=".1"
                >
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    metalness
                </div>
            </td>
            <td colspan="3">
                <input 
                    #metalness 
                    class="colspan3"
                    type="number" 
                    (input)="setMetalness(metalness.value)"
                    [value]="controlsService.metalness()"
                    step=".1"
                >
            </td>
        </tr>
    </table>
</div>