<div>
    <table>
        <tr><th colspan="4">group/mesh: {{controlsService.groupName()}} </th></tr>
        <tr>
            <th>&nbsp;</th>
            <th>r/x</th>
            <th>g/y</th>
            <th>b/z</th>
        </tr>
        <tr>
            <td><div>rotation</div></td>
            <td>
                <input 
                    #xRotation 
                    type="number" 
                    (input)="setRotation(xRotation.value, 'x')"
                    [value]="controlsService.x()"
                >
            </td>
            <td>
                <input 
                    #yRotation 
                    type="number" 
                    (input)="setRotation(yRotation.value, 'y')"
                    [value]="controlsService.y()"
                >
            </td>
            <td>
                <input 
                    #zRotation 
                    type="number" 
                    (input)="setRotation(zRotation.value, 'z')"
                    [value]="controlsService.z()"
                >
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <label>Choose a mesh: </label>
                <select (change)="selectMesh($event)">
                    <option></option>
                    @for(meshOption of MeshClass.getList(); track meshOption) {
                        <option value="{{meshOption}}">{{meshOption}}</option>
                    }
                </select>
            </td>
        </tr>
    </table>
</div>