.visualization {
    width: 100vw;
    height: 100vh;
    position: absolute;
}

app-controls {
    position: absolute;
    background-color: antiquewhite;
    z-index: 1;
    top: 76px;
    width: 260px;
}

app-list-manager-component {
    position: absolute;
    background-color: antiquewhite;
    right: 0;
    z-index: 1;
}

app-clock-component {
    position: absolute;
    bottom: 0;
}

app-light-component {
    width: 260px;
    position: absolute;
    background-color: antiquewhite;
    z-index: 1;
}