<div class="parent">
    <table>
        <tr><th colspan="4">group: {{controlsService.groupName()}} </th></tr>
        <tr>
            <th>&nbsp;</th>
            <th>x/r</th>
            <th>y/g</th>
            <th>z/b</th>
        </tr>
        <tr>
            <td>
                <div>
                    position
                </div>
            </td>
            <td>
                <input 
                    #xPosition 
                    type="number" 
                    (input)="setPosition(xPosition.value, 'x')"
                    [value]="controlsService.xPosition()"
                >
            </td>
            <td>
                <input 
                    #yPosition 
                    type="number" 
                    (input)="setPosition(yPosition.value, 'y')"
                    [value]="controlsService.yPosition()"
                >
            </td>
            <td>
                <input 
                    #zPosition 
                    type="number" 
                    (input)="setPosition(zPosition.value, 'z')"
                    [value]="controlsService.zPosition()"
                >
            </td>
        </tr>
    </table>



</div>
